.vs/

.x64/
MyProject.aps
MyProject.sln
MyProject.vcxproj
MyProject.vcxproj.filters
MyProject.vcxproj.user
SDL2.dll
x64/Debug/array.obj
x64/Debug/display.obj
x64/Debug/light.obj
x64/Debug/main.obj
x64/Debug/matrix.obj
x64/Debug/mesh.obj
x64/Debug/MyProject.Build.CppClean.log
x64/Debug/MyProject.exe
x64/Debug/MyProject.exe.recipe
x64/Debug/MyProject.ilk
x64/Debug/MyProject.log
x64/Debug/MyProject.pdb
x64/Debug/MyProject.vcxproj.FileListAbsolute.txt
x64/Debug/objloader.obj
x64/Debug/triangle.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/vcpkg.applocal.log
x64/Debug/vector.obj
x64/Debug/MyProject.tlog/CL.command.1.tlog
x64/Debug/MyProject.tlog/Cl.items.tlog
x64/Debug/MyProject.tlog/CL.read.1.tlog
x64/Debug/MyProject.tlog/CL.write.1.tlog
x64/Debug/MyProject.tlog/link.command.1.tlog
x64/Debug/MyProject.tlog/link.read.1.tlog
x64/Debug/MyProject.tlog/link.write.1.tlog
x64/Debug/MyProject.tlog/MyProject.lastbuildstate
x64/Release/array.obj
x64/Release/mesh.obj
x64/Release/MyProject.log
x64/Release/triangle.obj
x64/Release/vc143.pdb
x64/Release/vector.obj
x64/Release/MyProject.tlog/CL.command.1.tlog
x64/Release/MyProject.tlog/CL.read.1.tlog
x64/Release/MyProject.tlog/CL.write.1.tlog
x64/Release/MyProject.tlog/MyProject.lastbuildstate
x64/Release/MyProject.tlog/unsuccessfulbuild
